<%= stylesheet_link_tag "user" %>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="error-message" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <% user.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
    </div>
  <% end %>
    <div class="form-element-container">
    <div class="form-container-firstname">
      <%= label_tag(:firstName, "First Name", class: "form-container__label-title") %>
      <%= form.text_field :firstName, class: "form-container__input-title" %>
    </div>
    <div class="form-container-lastname">
      <%= label_tag(:lastName, "Last Name", class: "form-container__label-title") %>
      <%= form.text_field :lastName, class: "form-container__input-title" %>
    </div>
    <div class="form-container-email">
      <%= label_tag(:email, "Email", class: "form-container__label-title") %>
      <%= form.text_field :email, class: "form-container__input-title" %>
    </div>

       <div class="form-container-isadmin">
      <%= label_tag(:is_admin, "Admin Privileges", class: "form-container__label-title") %>
      <% if user.is_admin %>
      <input type="radio" id="" name="user[is_admin]" value="true" <%= user.is_admin ? checked = "checked" : checked = "" %> />
      <input type="radio" id="" name="user[is_admin]" value="false" />
       <% else %>
      <input type="radio" id="" name="user[is_admin]" value="true"  />
      <input type="radio" id="" name="user[is_admin]" value="false" <%= user.is_admin ? checked = "" : checked = "checked" %>/>
    
      
      <% end %>

    
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Update User", class: "action-button" %>
  </div>
<% end %>
