<%= stylesheet_link_tag "user" %>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-element-container">
    <div class="form-container-firstname">
      <%= label_tag(:firstName, "First Name", class: "form-container__label-title") %>
      <%= form.text_field :firstName, class: "form-container__input-title" %>
    </div>
    <div class="form-container-lastname">
      <%= label_tag(:lastName, "Last Name", class: "form-container__label-title") %>
      <%= form.text_field :lastName, class: "form-container__input-title" %>
    </div>
    <div class="form-container-email">
      <%= label_tag(:email, "Email", class: "form-container__label-title") %>
      <%= form.text_field :email, class: "form-container__input-title" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
