<%= form_with(model: collaborator, local: true) do |form| %>
  <% flash.each do |type, msg| %>
    <div>
      <% if msg.class.to_s=="Array"  %>
        <%= msg.join() and return %>
      <% else %>
        <%= msg and return %>
      <% end %>
    </div>
  <% end %>

  <div class="form-element-container">
    <%= form.label :email, 'Add Collaborator', class: "form-container__label-title" %>
    <%= form.text_field :email, type: "email", class: "form-container__input-title" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Collaborator", class: "action-button" %>
  </div>
<% end %>
