<%= form_with(model: collaborator, local: true) do |form| %>
  <% flash.each do |type, msg| %>
    <div>
      <% if msg.class.to_s=="Array"  %>
        <%= msg.join() and return %>
      <% else %>
        <%= msg and return %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, 'Add Collaborator' %>
    <%= form.text_field :email, type: "email"%>
    <div>Hello World!!!</div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
