<%= stylesheet_link_tag "collaborators" %>
<p id="notice"><%= notice %></p>

  <h1> List of Collaborators </h1>

<div class="collaborator-content-container">
  <div >
    <% @collaborators.each do |collaborator| %>
      <div>
        <span><%= collaborator.user.email %></span>
        <span><%#= link_to 'Show', collaborator %></span>
        <span><%#= link_to 'Edit', edit_collaborator_path(collaborator) %></span>
        <span><%= link_to 'Destroy', collaborator_path(project_id: collaborator.project_id, id:collaborator.id  ), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Collaborator', new_collaborator_path %>
