<nav id="navbar" class="header-main">
    <div class="header-main-container">
        <div class="header-main-logo">
            <%= link_to "/" do %>
                <h1>BASECAMP</h1>
            <% end %>
        </div>
        <div class="header-main-links">
            <% if !logged_in? %>
                <% if request.path == "/login" %>
                    <%= link_to  "register" do %>
                        <span>Register</span>
                    <% end %>
                <% else %>
                    <%= link_to  "login" do %>
                        <span>Login</span>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to "/" do %>
                    <span>PROJECTS</span>
                <% end %>
                <% if current_user.is_admin %>
                    <%= link_to users_path do %>
                        <span>Users</span>
                    <% end %>
                <% end %>
                <%= link_to logout_path do %>
                    <span>LOG OUT</span>
                <% end %>
            <% end %>
        </div>   
    </div>
</nav>