<p id="notice"><%= notice %></p>

<h1>Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Uploaded by</th>
      <th>File name</th>
      <th>url</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <% if !@project.attachments.nil? %>
   <tbody>
    <% @project.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.project_id %></td>
        <td><%= attachment.user.email %></td>
        <td><%= attachment.file_name %></td>
        <td><a href=<%= rails_blob_path(attachment.file, disposition: "attachment") %>> Download file <a/></td>
      
        <td><%= link_to "Destroy", attachment, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
    
  <% end %>

  
</table>

<br>

<%= link_to "New Attachment", new_attachment_path(project_id: project.id) %>
 