<%= stylesheet_link_tag "project" %>
<p id="notice"><%= notice %></p>

<div class="projects-container">

  <div class="projects-content-container">
    <div class="projects-view-container">
    <h1>Projects</h1>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

      <br>
    </div>
    <%= link_to new_project_path do %>
    <div class="new-project-container">
      <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" viewBox="0 0 48 48"><title>ic_plus_one_48px</title>
            <g fill="#000">
                <path d="M20 16h-4v8H8v4h8v8h4v-8h8v-4h-8zm9-3.84v3.64l5-1V36h4V10z"></path>
            </g>
        </svg>
        <h3>ADD NEW PROJECT</h3>
      </div>
    </div>
    <% end %>
    </div>
</div>