<%= stylesheet_link_tag "project" %>
<div class="projects-container">

<p id="notice"><%= notice %></p>

<p><%= @project.name %></p>
<p><%= @project.description %></p>

<div>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
</div>
