<% if mode == "new"
  url_path= get_thread_message_form_path
  button_name = "Create New Message"
  thread_message_id=nil

elsif mode == "reply"
  url_path= reply_thread_message_path
  button_name = "Reply Message"
  thread_message_id=parent_message_uuid
else
  url_path= edit_thread_message_path
  button_name = "Edit Message"
  thread_message_id=params[:parent_message_id]
end
%>

<%= form_with(url: url_path, local: true) do |form| %>
  <% if thread_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thread_message.errors.count, "error") %> prohibited this thread_message from being saved:</h2>

      <ul>
        <% thread_message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <% if thread_message.id %>
      <%= form.text_area :message, :value=>thread_message.message %>
    <% else %>
      <%= form.text_area :message %>
    <% end %>
  </div>
    <%= form.text_field :user_id, :value => user_id, :type => "hidden" %>
    <%= form.text_field :project_thread_id, :value => params[:project_thread_id], :type => "hidden" %>
    <%= form.text_field :thread_message_id, :value => thread_message_id, :type => "hidden" %>
  <div class="actions">
  <% %>
    <%= form.submit button_name %>
  </div>
<% end %>
