<%= stylesheet_link_tag "project_threads" %>
<p id="notice"><%= notice %></p>

<div class="threads-container">

  <div class="threads-content-container">
    <div class="threads-view-container">
      <h1>Threads</h1>
      <div class="new-thread-container">
        <%= link_to new_project_thread_path(:project_id => params[:id]) do %>
          <p>Create New Thread</p>
        <% end %>
      </div>
    </div>
  <div class="thread-view-container">

  <% if !project_threads_list.nil? %>
  <% project_threads_list.each do |project_thread| %>

            <div class="card">
              <div class="card-content-container">
                <%= link_to project_thread do %>
                  <header class="card-header">
                    <h3><%= project_thread.thread_title %></h3>
                  </header>
                <% end %>
                  <div class="card-content-summary">
                    <p><%= project_thread.user.email %>....<p>
                    <p><%= project_thread.created_at %></p>
                  </div>
              </div>
            </div>

        <% end %>
        <% end %>

</div>

    </div>
  </div>
</div>
</div>