<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_thread.project_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project_thread.user.email %>
</p>

<p>
  <strong>Thread title:</strong>
  <%= @project_thread.thread_title %>
</p>



<hr/>
<div class="thread-message-detail-container">
    <%= render 'thread_messages/index', messages: @thread_messages %>
</div>


<%= link_to "Edit", edit_project_thread_path(@project_thread) %> |
<%= link_to "Back", get_project_thread_path(id: @project_thread.project.id) %> |
<%= link_to "Create a message", create_thread_message_path(project_thread_id: @project_thread.id) %> |
