<p id="notice"><%= notice %></p>

<h1>Project Threads</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>user</th>
      <th>Thread title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_threads.each do |project_thread| %>
      <tr>
        <td><%= project_thread.project_id %></td>
        <td><%= project_thread.user.email %></td>
        <td><%= project_thread.thread_title %></td>
        <td><%= link_to "Show", project_thread %></td>
        <td><%= link_to "Edit", edit_project_thread_path(project_thread) %></td>
        <td><%= link_to "Destroy", project_thread, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Project Thread", new_project_thread_path %>
