<!DOCTYPE html>
<html>
  <head>
    <title>BasecampMock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@700&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="content-container">
      <%= yield %>
    </div>
  </body>
</html>
